In [1]:
import pandas as pd

In [2]:
df_num = pd.read_html('https://baseballdata.jp/2023/mdata/doin.html')

## 【レポート課題①】：df_num[0]の順位が偶数のみの全ての情報を抽出

In [5]:
ranking_df = df_num[0]
ranking_df = ranking_df[ranking_df['順位'] % 2 == 0]
ranking_df

    順位    チーム  試合数  観客動員数累計  平均動員数  最高動員数  最小動員数 平均試合時間 最長試合時間 最短試合時間
1    2     巨人   71  2708315  38145  41630   8069   3:09   4:44   1:43
3    4   DeNA   71  2280927  32126  33304  19710   3:11   4:53   2:06
5    6     広島   72  2054762  28538  31269  20935   3:13   5:01   1:53
7    8  オリックス   72  1947453  27048  35996  13837   3:07   4:20   2:10
9   10    ロッテ   72  1803994  25055  37095  15410   3:08   5:07   2:14
11  12     楽天   72  1358512  18868  40502   9912   3:17   4:56   2:10

In [7]:
list1 = [9,3,5,2,8,4,6,10,1,7]

## 【レポート課題②】：forループを使い、list1のインデックス番号と対応する要素を順番に表示する

In [8]:
for idx, elm in enumerate(list1):
    print(idx, elm)

0 9
1 3
2 5
3 2
4 8
5 4
6 6
7 10
8 1
9 7

## 【レポート課題③】：forループとcontinueを使い、3,6の時は表示せず、偶数の時は値を二乗し、list1を表示する

In [10]:
for num in list1:
    if num == 3 or num == 6:
        continue
    
    n = num ** 2 if num % 2 == 0 else num
    print(num, n)

9 9
5 5
2 4
8 64
4 16
10 100
1 1
7 7